a {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border: 5px solid transparent;
}
a[title] {
  border-color: pink;
}
a[href*="contact"] {
  border-color: orange;
}
a[href^="https"] {
  border-color: green;
}
