ul {
  list-style: none;
}
ul > li {
  margin-bottom: 10px;
  padding: 10px;
}
.hex {
  background-color: #86defa;
}
.rgb {
  background-color: rgb(134, 222, 250);
}
.hsl {
  background-color: hsl(194, 92%, 75%);
}
.transparency {
  background-color: rgba(133, 223, 250, 0.2);
}
